 *{
 height: 170px;
    border: solid 1px white;
    width: 1420px;
 }

#obj1{ background-color: rgb(255, 0 ,0)

}

#obj2{ background-color: rgb(3, 0, 187)

}

#obj3{ background-color: rgb(43, 255, 0)

}

#obj4{ background-color: rgb(255, 174, 0)

}
